body{
    background-color: rgb(132, 240, 128)    

}
h1{
    text-decoration: underline;
    text-align: center;
    color: rgba(255, 255, 255, 0.539)255, 255, 255, 0.319);
}

div{
    margin-left: 10%;
    margin-right: 10%;
}
button{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 3px rgb(187, 199, 100);
}

button:hover{
    background-color: rgba(180, 180, 180, 0.509);
}
input{
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
input:hover{
    background-color: rgba(180, 180, 180, 0.507));
}

label{
    font-size: 19px;
}