body{
	box-shadow: 2px,3px,4px blacks;
	background-color: grey;
	


	
}


.page{
	width: 780px;
	margin: auto;
	font-family: 'source sans pro', Calibri,Tahoma,sans-serif;
	font-size: 16px;
	border: 5px solid #3388CC;
	border-radius: 10px;
	box-shadow:2px 3px 4px white;
	padding:20px;
	background-color: white;
}

.infophoto{
	height: 250px;
}

.info{
	float: left
}

.photo{
	float: right;
}

.section{
	margin-bottom: 70px;
	text-align: justify;
	
}

.sec-gauche{
	float: left;
	font-weight: bold;
	font-size: 20px;
}

.sec-droite{
	margin-left: 150px;
}
h2{
	font-size: 28px;
	color: #3388BB;
	border-bottom: 3px solid #3388DD;
}
.duree{
	font-weight: normal;
	font-style: italic;
	font-size:16px;
}
.titre{
	font-weight: bold;
	font-size: 20px;
}
#forma-gauche p{
	margin-bottom: 37px;
}
#exp-gauche p{
	margin-top: 32px;
}
#long-droite-sub p{
	margin-top: 42px;
}
#long-droite{
	line-height: 25px;
}
#interet-droite{
	margin-top: 55px;
}

.strong{
	font-size: 32px;
}


	
