body{
	font-family: Verdana, Calibri, sans-serif; margin: 0px; padding: 0px; 
	background-image: url(image.gif);
	background-size: cover;
}

nav > ul{
	margin: 0px; padding: 0px; 
}

nav li{
	list-style-type: none;
} 

nav > ul > li{
	float: left;
}
.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-moblie{
	display: none;	
}

nav{
	width: 100%;
	background-color: #424558;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav > ul::after{
	content: ""; 
	display:table;
	clear: both;
	} 
nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul >li >a{
	
	padding: 20px 30px;
	color:#fff;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu li{
	border-bottom: 1px solid #ccc;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color:#222538;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #f1dc4f;

background-color: RGBa (241, 220, 38, 0.15);

}

.menu-css:hover{

border-top: 5px solid #d4c11a;
background-color: RGBa (241, 220, 192, 0.15);
}

.menu-js:hover{
	border-top: 5px solid #f1dc4f;

background-color: RGBa (241, 220, 79, 0.15);

}

.menu-contact:hover{
	border-top: 5px solid #dede0c;
	 background-color: RGBa (241, 220, 220, 0.15);
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
	} 

.menu-html.submenu{
	background-color: RGB(230, 100, 40);
}

.menu-css .submenu{

border-top: 5px solid #dede0c;
background-color: RGB(000, 160, 240);
}

.menu-js .submenu{

border-top: 5px solid #dede0c;
background-color: RGB(251, 216, 99);
}

.submenu li:hover a{ 
	color:#EEE;
 	font-weight: bold;
}

.menu-html .submenu li:hover{
	border-top: 5px solid #dede0c;
	background-color: RGB(210, 77, 60);
	}
.menu-css.submenu li:hover{
	background-color: RGB(000, 115, 200);
}
.menu-mission .submenu li:hover{
	border-top: 5px solid #dede0c;
background-color: RGB(251, 216, 99);

}

.menu-Certifications .submenu li:hover{
	border-top: 5px solid #0c8db1;
background-color: RGB(251, 216, 99);

}