body {
    background-color: #118a74;
}
h1 {
   text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
    border: solid;
    border-radius:15px;
    border-top: 10px;
    padding: 30px;
    margin:20px;
    transition:0.1s;
}

a:hover{
    color:grey;
    background-color: rgb(218, 108, 126);
    border-color: rgb(red, green, blue);
}
