body{
    background-color: lightskyblue;
}

button{
    padding: 20px;
    margin: 50px;
    background-color: lightcoral;

}

button:hover{
    background-color: rgb(243, 160, 160);
    color: white;
}